<section class="about">
  <h2>ABOUT US</h2>
  <div class="container">
      <h3>About Us</h3>
      <p>
        CernVM is a baseline Virtual Software Appliance for the participants of CERN LHC experiments. The Appliance represents a complete, portable and easy to configure user environment for developing and running LHC data analysis locally and on institutional and commercial clouds (OpenStack, Amazon EC2, Google Compute Engine), independently of Operating System software and hardware platform (Linux, Windows, MacOS).
      </p>
      <h3>The Goal</h3>
      <p>
        The goal is to remove a need for the installation of the experiment software and to minimize the number of platforms (compiler-OS combinations) on which experiment software needs to be supported and tested.
      </p>
  </div>
</section>