<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/rhel.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>EL 9</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el9.x86_64.rpm">cvmfs-server-2.11.5-1.el9.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway-2.11.5-1.el9.x86_64.rpm">cvmfs-gateway-2.11.5-1.el9.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>EL 8</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el8.x86_64.rpm">cvmfs-server-2.11.5-1.el8.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway-2.11.5-1.el8.x86_64.rpm">cvmfs-gateway-2.11.5-1.el8.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>EL 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el7.x86_64.rpm">cvmfs-server-2.11.5-1.el7.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway-2.11.5-1.el7.x86_64.rpm">cvmfs-gateway-2.11.5-1.el7.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/suse.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>SLES 15</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.sle15.x86_64.rpm">cvmfs-server-2.11.5-1.sle15.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway-2.11.5-1.sle15.x86_64.rpm">cvmfs-gateway-2.11.5-1.sle15.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/ubuntu.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Ubuntu 22.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+ubuntu22.04_amd64.deb">cvmfs-server_2.11.5~1+ubuntu22.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway_2.11.5~1+ubuntu22.04_amd64.deb">cvmfs-gateway_2.11.5~1+ubuntu22.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 20.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+ubuntu20.04_amd64.deb">cvmfs-server_2.11.5~1+ubuntu20.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway_2.11.5~1+ubuntu20.04_amd64.deb">cvmfs-gateway_2.11.5~1+ubuntu20.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 18.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+ubuntu18.04_amd64.deb">cvmfs-server_2.11.5~1+ubuntu18.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway_2.11.5~1+ubuntu18.04_amd64.deb">cvmfs-gateway_2.11.5~1+ubuntu18.04_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/debian.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Debian 12</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+debian12_amd64.deb">cvmfs-server_2.11.5~1+debian12_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway_2.11.5~1+debian12_amd64.deb">cvmfs-gateway_2.11.5~1+debian12_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Debian 11</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+debian11_amd64.deb">cvmfs-server_2.11.5~1+debian11_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-gateway_2.11.5~1+debian11_amd64.deb">cvmfs-gateway_2.11.5~1+debian11_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/arm.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>ARMv8 / EL 9</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el9.aarch64.rpm">cvmfs-server-2.11.5-1.el9.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / EL 8</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el8.aarch64.rpm">cvmfs-server-2.11.5-1.el8.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / EL 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server-2.11.5-1.el8.aarch64.rpm">cvmfs-server-2.11.5-1.el8.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / Ubuntu 22.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+ubuntu22.04_arm64.deb">cvmfs-server_2.11.5~1+ubuntu22.04_arm64.deb</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / Ubuntu 20.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.11.5/cvmfs-server_2.11.5~1+ubuntu20.04_arm64.deb">cvmfs-server_2.11.5~1+ubuntu20.04_arm64.deb</a></li>
		</ul>
	</div>
</div>
