
	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.el6.i686.rpm">cvmfs-devel-2.7.3-1.el6.i686.rpm</a>
	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.el6.x86_64.rpm">cvmfs-devel-2.7.3-1.el6.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.el7.x86_64.rpm">cvmfs-devel-2.7.3-1.el7.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.el8.x86_64.rpm">cvmfs-devel-2.7.3-1.el8.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.fc31.x86_64.rpm">cvmfs-devel-2.7.3-1.fc31.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.fc32.x86_64.rpm">cvmfs-devel-2.7.3-1.fc32.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.suse1110.x86_64.rpm">cvmfs-devel-2.7.3-1.suse1110.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.suse1110.x86_64.rpm">cvmfs-devel-2.7.3-1.suse1110.x86_64.rpm</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.sle12.x86_64.rpm">cvmfs-devel-2.7.3-1.sle12.x86_64.rpm</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu14.04_i386.deb">cvmfs-dev_2.7.3~1+ubuntu14.04_i386.deb</a>
	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu14.04_amd64.deb">cvmfs-dev_2.7.3~1+ubuntu14.04_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu16.04_i386.deb">cvmfs-dev_2.7.3~1+ubuntu16.04_i386.deb</a>
	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu16.04_amd64.deb">cvmfs-dev_2.7.3~1+ubuntu16.04_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu18.04_i386.deb">cvmfs-dev_2.7.3~1+ubuntu18.04_i386.deb</a>
	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu18.04_amd64.deb">cvmfs-dev_2.7.3~1+ubuntu18.04_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+ubuntu20.04_amd64.deb">cvmfs-dev_2.7.3~1+ubuntu20.04_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+debian8.11_amd64.deb">cvmfs-dev_2.7.3~1+debian8.11_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+debian9.12_amd64.deb">cvmfs-dev_2.7.3~1+debian9.12_amd64.deb</a>
	<hr>

	<a href="http://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-dev_2.7.3~1+debian10_amd64.deb">cvmfs-dev_2.7.3~1+debian10_amd64.deb</a>
	<hr>

	<a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.7.3/cvmfs-devel-2.7.3-1.el7.aarch64.rpm">cvmfs-devel-2.7.3-1.el7.aarch64.rpm</a>
	<hr>