<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/rhel.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>EL 9</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el9.x86_64.rpm">cvmfs-2.12.0-1.el9.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el9.x86_64.rpm">cvmfs-libs-2.12.0-1.el9.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el9.x86_64.rpm">cvmfs-fuse3-2.12.0-1.el9.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>EL 8</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el8.x86_64.rpm">cvmfs-2.12.0-1.el8.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el8.x86_64.rpm">cvmfs-libs-2.12.0-1.el8.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el8.x86_64.rpm">cvmfs-fuse3-2.12.0-1.el8.x86_64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>EL 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el7.x86_64.rpm">cvmfs-2.12.0-1.el7.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el7.x86_64.rpm">cvmfs-libs-2.12.0-1.el7.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el7.x86_64.rpm">cvmfs-fuse3-2.12.0-1.el7.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/suse.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>SLES 15</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.sle15.x86_64.rpm">cvmfs-2.12.0-1.sle15.x86_64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.sle15.x86_64.rpm">cvmfs-libs-2.12.0-1.sle15.x86_64.rpm</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/ubuntu.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Ubuntu 24.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+ubuntu24.04_amd64.deb">cvmfs_2.12.0~1+ubuntu24.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+ubuntu24.04_amd64.deb">cvmfs-libs_2.12.0~1+ubuntu24.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+ubuntu24.04_amd64.deb">cvmfs-fuse3_2.12.0~1+ubuntu24.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 22.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+ubuntu22.04_amd64.deb">cvmfs_2.12.0~1+ubuntu22.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+ubuntu22.04_amd64.deb">cvmfs-libs_2.12.0~1+ubuntu22.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+ubuntu22.04_amd64.deb">cvmfs-fuse3_2.12.0~1+ubuntu22.04_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Ubuntu 20.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+ubuntu20.04_amd64.deb">cvmfs_2.12.0~1+ubuntu20.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+ubuntu20.04_amd64.deb">cvmfs-libs_2.12.0~1+ubuntu20.04_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+ubuntu20.04_amd64.deb">cvmfs-fuse3_2.12.0~1+ubuntu20.04_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/debian.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>Debian 12</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+debian12_amd64.deb">cvmfs_2.12.0~1+debian12_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+debian12_amd64.deb">cvmfs-libs_2.12.0~1+debian12_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+debian12_amd64.deb">cvmfs-fuse3_2.12.0~1+debian12_amd64.deb</a></li>
		</ul>
		<ul>
			<p><strong>Debian 11</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+debian11_amd64.deb">cvmfs_2.12.0~1+debian11_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+debian11_amd64.deb">cvmfs-libs_2.12.0~1+debian11_amd64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+debian11_amd64.deb">cvmfs-fuse3_2.12.0~1+debian11_amd64.deb</a></li>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/apple.png'>
	</div>
	<div class='row-links'>
		<ul class="fluid">
			<p><strong>macOS >= 10.14</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0.macfuse.intel.pkg">cvmfs-2.12.0.macfuse.intel.pkg</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0.macfuse.arm64.pkg">cvmfs-2.12.0.macfuse.arm64.pkg</a></li>
			<p>Note: It's recommended to use homebrew (brew tap macos-fuse-t/cask; brew tap cvmfs/homebrew-cvmfs; brew install cvmfs) If this is not an option, for the time being, please use the Terminal command <pre><code>curl -o ~/Downloads/cvmfs-2.12.0.pkg https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0.pkg</code></pre> to download the package in order to avoid missing signature warnings on open. As of macOS 10.15 "Catalina", a reboot is required after the installation.</p>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/docker.png'>
	</div>
	<div class='row-links'>
		<ul class="fluid">
			<p><strong>Docker container</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-service-2.12.0-1.x86_64.docker.tar.gz">cvmfs-service-2.12.0-1.x86_64.docker.tar.gz</a></li>
			<p>Import image with <pre>cat cvmfs-service-2.12.0-1.x86_64.docker.tar.gz | docker load</pre></p>
		</ul>
	</div>
</div>

<div class="tab-row">
	<div class='vendor-logo'>
		<img alt="vbox" src='images/vendor-logos/arm.png'>
	</div>
	<div class='row-links'>
		<ul>
			<p><strong>ARMv8 / EL 9</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el9.aarch64.rpm">cvmfs-2.12.0-1.el9.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el9.aarch64.rpm">cvmfs-libs-2.12.0-1.el9.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el9.aarch64.rpm">cvmfs-fuse3-2.12.0-1.el9.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / EL 8</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el8.aarch64.rpm">cvmfs-2.12.0-1.el8.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el8.aarch64.rpm">cvmfs-libs-2.12.0-1.el8.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el8.aarch64.rpm">cvmfs-fuse3-2.12.0-1.el8.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / EL 7</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-2.12.0-1.el7.aarch64.rpm">cvmfs-2.12.0-1.el7.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs-2.12.0-1.el7.aarch64.rpm">cvmfs-libs-2.12.0-1.el7.aarch64.rpm</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3-2.12.0-1.el7.aarch64.rpm">cvmfs-fuse3-2.12.0-1.el7.aarch64.rpm</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / Ubuntu 22.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+ubuntu22.04_arm64.deb">cvmfs_2.12.0~1+ubuntu22.04_arm64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+ubuntu22.04_arm64.deb">cvmfs-libs_2.12.0~1+ubuntu22.04_arm64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+ubuntu22.04_arm64.deb">cvmfs-fuse3_2.12.0~1+ubuntu22.04_arm64.deb</a></li>
		</ul>
		<ul>
			<p><strong>ARMv8 / Ubuntu 20.04</strong></p>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs_2.12.0~1+ubuntu20.04_arm64.deb">cvmfs_2.12.0~1+ubuntu20.04_arm64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-libs_2.12.0~1+ubuntu20.04_arm64.deb">cvmfs-libs_2.12.0~1+ubuntu20.04_arm64.deb</a></li>
			<li><a href="https://ecsft.cern.ch/dist/cvmfs/cvmfs-2.12.0/cvmfs-fuse3_2.12.0~1+ubuntu20.04_arm64.deb">cvmfs-fuse3_2.12.0~1+ubuntu20.04_arm64.deb</a></li>
		</ul>
	</div>
</div>
