<header>
  <div class="container">
    <div>
      <img src='images/cvmfs-outline.png' alt='CernVM-header-background-logo'>
    </div>
    <div class="page-title">
      <h1>CernVM-FS</h1>
      <h2>CernVM File System</h2>
      <div class='btn btn--icon icon-download'><a href="#download">Download</a></div>
      <div class='btn btn--icon icon-document'><a href="https://cvmfs.readthedocs.io/">Documentation</a></div>
      <div class='btn btn--icon icon-github'><a href="https://github.com/cvmfs/cvmfs">GitHub</a></div>
    </div>
  </div>
</header>