<nav class='menu transparent'>
  <div class='menu--inner'>
    <a href='index.html' class='logo'><img src='images/cvmfs-logo.png' alt="CernVM Website Logo"></a>
    <ul>
      <li><a class='menu-link dropdown' href='#'>File System</a>
        <ul class="dropdown-content">
          <li><a href="#download">Download</a></li>
          <li><a href="#">Release Notes</a></li>
          <li><a href="#">Quick start</a></li>
          <li><a href="#">Documentation</a></li>
        </ul>
      </li>
      <li><a class='menu-link' href='#'>CernVM Online</a></li>
      <li><a class='menu-link' href='#'>Virtual Machine</a></li>
      <li><a class='menu-link' href='#'>Our Team</a></li>
      <li><a class='menu-link' href='#support'>Support</a></li>
    </ul>
  </div>
</nav>