<nav class='menu transparent'>
  <div class='menu--inner'>
    <a href='index.html' class='logo'><img src='images/cvmfs-logo.png' alt="CernVM Website Logo"></a>
    <ul>
      <li><a class='menu-link dropdown' href='index.html'>File System</a>
        <ul class="dropdown-content">
          <li><a href="#download">Download</a></li>
          <li><a href="https://cvmfs.readthedocs.io/en/stable/cpt-releasenotes.html">Release Notes</a></li>
          <li><a href="https://cvmfs.readthedocs.io/en/stable/cpt-quickstart.html">Quick start</a></li>
          <li><a href="https://cvmfs.readthedocs.io/">Documentation</a></li>
        </ul>
      </li>
      <li><a class='menu-link' href="https://cernvm-monitor.cern.ch/cvmfs-monitor/">Repository Monitor</a></li>
      <li><a class='menu-link' href="https://cernvm.cern.ch/appliance/">Virtual Machine</a></li>
      <li><a class='menu-link' href="https://cernvm.cern.ch/team">About Us</a></li>
      <li><a class='menu-link' href='#support'>Support</a></li>
    </ul>
  </div>
</nav>